@font-face {
  font-family: 'ProtoGrotesk';
  src: url('assets/fonts/ProtoGroteskWeb-Regular.ttf') format('ttf'),
      url('assets/fonts/ProtoGroteskWeb-Regular.woff2') format('woff2'),
      url('assets/fonts/ProtoGroteskWeb-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


body{
  background-color: blue;
}


h1{
  font-family: 'ProtoGrotesk';
}

.textClass{
  color: green
}